.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(244, 139, 42, 0.2);
  border-right: 1.1em solid rgba(244, 139, 42, 0.2);
  border-bottom: 1.1em solid rgba(244, 139, 42, 0.2);
  border-left: 1.1em solid #f48b2a;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

a.apply_now_button {
  background-color: #f18926;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 45px;
  color: white;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  width: auto;
  margin-top: 15px;
}
ul.coherts-list {
  color: #616161;
  font-size: 16px;
  line-height: 1.45;
  margin-left: 25px;
  margin-bottom: 10px;
}

.about-us-more-content p {
  color: #616161;
  font-size: 16px;
  line-height: 1.45;
  margin-bottom: 12px;
  text-align: center;
}

.about-us-more-content {
  margin: 40px 0 0;
  display: block;
}

a.apply_now_white_button {
  background-color: #fff;
  color: #ff5858;
  margin-bottom: 48px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 45px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  width: auto;
  margin-top: 15px;
}
