.hero--container {
  background-color: #3a3a3a;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  width: 100%;
  padding: 5vh 5vw;
  position: relative;
}

.hero--container .hero--gradient {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.hero--container .hero__logo svg {
  width: 197px;
  height: 35px;
}

.hero--container .hero--wrapper {
  max-width: 1200px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 10vh);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero--container .hero--wrapper .hero--content {
  color: #fff;
}

.hero--container .hero--wrapper .hero--content h1 {
  font-size: clamp(2.5rem, 5vw, 3.2rem);
  line-height: 4rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.hero--container .hero--wrapper .hero--content p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 300;
  margin-bottom: 24px;
  max-width: 580px;
}

.hero--container .hero--wrapper .hero--content .hero__button {
  background-color: #f18926;
  border: none;
  border-radius: 30px;
  color: inherit;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 15px 72px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero--container .hero--wrapper .hero--content .hero__button:hover {
  background-color: #eb7405;
}

.hero--container .hero--wrapper .hero--carousal {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  max-width: 680px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.hero--container .hero--wrapper .hero--carousal .hero--carousal__bar {
  height: 3px;
  border-radius: 3px;
  width: 100%;
  background-color: #ffffff50;
  position: relative;
}

.hero--container
  .hero--wrapper
  .hero--carousal
  .hero--carousal__bar.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: fillBar 3s ease-in-out forwards;
  animation: fillBar 3s ease-in-out forwards;
}

@-webkit-keyframes fillBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fillBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
